* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
}
.container {
  overflow: hidden; /* this hid the overflow in the image showing the border i applied to the background   */
  margin: 10% 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  text-align: center;
}
.container img {
  width: 100%;
}

.container_box2 {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
